.h{
height:50px;
overflow:hidden;
}
.hh{
height:550px;
}
.retour{
margin-top:10px;
}
.mpikambana_lisitra{
margin:auto;
height:500px;
overflow:hidden;
}
.pagination_ul{
list-style-type:none;
}
.pagination_ul li{
display:inline-block;
float:left;
margin-right:20px;
}
.takona{
background:grey;
opacity:0.1;
position:absolute;
z-index:1;
}